---
title: アプリの作成
parent: Home
description: This section provides guidance on submitting your apps to the app stores.
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>

  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
    <section
      class="bcls-card-small"
      onclick="window.location.href='{{subsection.url}}'"
    >
      <div class="card-content">
        <h2>{{ subsection.name }}</h2>
        <ul class="bcls-topic-list">
          {% for doc in subsection.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endfor %} {% endif %} {% endfor %}
  </section>
</article>