# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Brightcove Beacon Documentation
email: training@brightcove.com
description: >- # this means to ignore newlines until "baseurl:"
  Brightcove Beacon provides video providers the environment for their customers to view videos without having a cable provider subscription.
# baseurl: "" # the subpath of your site, e.g. /blog
site_url: "https://ja.beacon.support.brightcove.com"
site_domain: "ja.beacon.support.brightcove.com"

# Build settings
# theme: minima

port: 4010


product: Brightcove Beacon
color: rgb(51, 51, 51)
product_color: rgb(28, 185, 213)
product_icon: "COVE004_Brightcove_Beacon_Logo_RGB_K.svg"
search_id: "017969773216783359937:9ybe0wftqs0"
feedbackify_id: "14941"
bing_custom_config_id: "78ee3c35-10fb-4e51-92e6-e77f0d2dd983"
defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
# plugins
plugins:
  - jekyll-last-modified-at

# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
